
services:
  frontend:
    build:
      context: ./docker-project-main/frontend
    ports:
      - "4000:80"
    depends_on:
      - mongo
    restart: always

  backend:
    build:
      context: ./docker-project-main/backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: